version: '3'
services:
    php:
        build: .docker
        volumes:
            - .:/var/www/app
        ports:
            - "8000:80"
        depends_on:
            - db
            - mailhog
        user: www-data
    db:
        image: mysql:5
        ports:
            - "3307:3306"
        environment:
            MYSQL_ALLOW_EMPTY_PASSWORD: 'yes'

    mailhog:
        image: mailhog/mailhog:v1.0.0
        ports:
            - "1025:1025"
            - "8025:8025"

    webpack:
        build: .docker/webpack
        volumes:
            - ./:/usr/src/app
        ports:
            - "8080:8080"
        working_dir: /usr/src/app
        environment: 
            - BASE_URL=http://localhost:8080
        command: sh -c "npm ci && npm run dev-server"