<form method="post" action="{{ path('sensor_delete', {'id': sensor.id}) }}" onsubmit="return confirm('Toutes les données associées à ce capteur seront supprimées. \nConfirmez-vous la suppression ?');" class="my-3">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ sensor.id) }}">
    <button class="btn btn-danger">Delete</button>
</form>
