{% extends 'base.html.twig' %}

{% block title %}Edit Sensor{% endblock %}

{% block content %}
    <h1>Edit Sensor</h1>

    {{ include('sensor/_form.html.twig', {'button_label': 'Update'}) }}

    <div class="float-end">
        {{ include('sensor/_delete_form.html.twig') }}
    </div>
    
    <p class="my-3">
        <a href="{{ path('sensor_index') }}" class="btn btn-outline-primary">back to list</a>
    </p>

{% endblock %}
